.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1342px;
    margin: 0 auto;
   
}
.text-c{text-align: center;}
.bg-static{}
.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -4px;
    margin-right: -4px; */
}

.height-demo{height: 300px;}
.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
/**/
.height-part{height: 50%;}
.width-part{width: 50%;}
.height-full{height: 100%;}
.width-full{width: 100%;}

.bg-r{background-color: red;}
.bg-g{background-color: greenyellow;}
.bg-b{background-color: aqua;}
.bg-o{background-color: orange;}
.bg-p{background-color: pink;}
.bg-y{background-color: yellow;}
.col {
    padding-left: 4px;
    padding-right: 4px;
}
.d-none{display: none;}
.d-block{display: block;}
.d-flex{display: flex;}
.flex-d-c{flex-direction: column;}
.flex-d-r{flex-direction: row;}
.flex-1{flex: 1;}

.d-flex-wrap{display: flex;flex-wrap: wrap;}

.mxy-auto{margin: auto;}

.mxy-auto-m{margin: 1rem auto;}
/* bên phải */
.mx-0{margin-left: 0;}
.mx-0-2{margin-left: 0.2rem;}
.mx-0-4{margin-left: 0.4rem;}
.mx-0-6{margin-left: 0.6rem;}
.mx-0-8{margin-left: 0.8rem;}
.mx-1{margin-left: 1rem;}


.mx-1-2{margin-left: 1.2rem;}
.mx-1-4{margin-left: 1.4rem;}
.mx-1-6{margin-left: 1.6rem;}
.mx-1-8{margin-left: 1.8rem;}
.mx-2{margin-left: 2rem;}


.mx-1-2{margin-left: 1.2rem;}
.mx-1-4{margin-left: 1.4rem;}
.mx-1-6{margin-left: 1.6rem;}
.mx-1-8{margin-left: 1.8rem;}
.mx-3{margin-left: 3rem;}
.mx-4{margin-left: 4rem;}
.mx-5{margin-left: 5rem;}
.mx-6{margin-left: 6rem;}
.mx-7{margin-left: 7rem;}

/*------ bên phải âm-----------*/

.mx-n0-2{margin-left: -0.2rem;}
.mx-n0-4{margin-left: -0.4rem;}
.mx-n0-6{margin-left: -0.6rem;}
.mx-n0-8{margin-left: -0.8rem;}
.mx-n1{margin-left: -1rem;}
.mx-n1-2{margin-left: -1.2rem;}
.mx-n1-4{margin-left: -1.4rem;}
.mx-n1-6{margin-left: -1.6rem;}
.mx-n1-8{margin-left: -1.8rem;}
.mx-n2{margin-left: -2rem;}
.mx-n1-2{margin-left: -1.2rem;}
.mx-n1-4{margin-left: -1.4rem;}
.mx-n1-6{margin-left: -1.6rem;}
.mx-n1-8{margin-left: -1.8rem;}
.mx-n3{margin-left: -3rem;}
.mx-n4{margin-left: -4rem;}
.mx-n5{margin-left: -5rem;}
.mx-n6{margin-left: -6rem;}
.mx-n7{margin-left: -7rem;}
/* bên trái */
.mx-0{margin-left: 0;}
.mx-0-2{margin-left: 0.2rem;}
.mx-0-4{margin-left: 0.4rem;}
.mx-0-6{margin-left: 0.6rem;}
.mx-0-8{margin-left: 0.8rem;}
.mx-1{margin-left: 1rem;}
.mx-1-2{margin-left: 1.2rem;}
.mx-1-4{margin-left: 1.4rem;}
.mx-1-6{margin-left: 1.6rem;}
.mx-1-8{margin-left: 1.8rem;}
.mx-2{margin-left: 2rem;}
.mx-1-2{margin-left: 1.2rem;}
.mx-1-4{margin-left: 1.4rem;}
.mx-1-6{margin-left: 1.6rem;}
.mx-1-8{margin-left: 1.8rem;}
.mx-3{margin-left: 3rem;}
.mx-4{margin-left: 4rem;}
.mx-5{margin-left: 5rem;}
.mx-6{margin-left: 6rem;}
.mx-7{margin-left: 7rem;}


.my-0{margin-top: 0;}
.my-0-2{margin-top: 0.2rem;}
.my-0-4{margin-top: 0.4rem;}
.my-0-6{margin-top: 0.6rem;}
.my-0-8{margin-top: 0.8rem;}
.my-1{margin-top: 1rem;}
.my-1-2{margin-top: 1.2rem;}
.my-1-4{margin-top: 1.4rem;}
.my-1-6{margin-top: 1.6rem;}
.my-1-8{margin-top: 1.8rem;}
.my-2{margin-top: 2rem;}
.my-1-2{margin-top: 1.2rem;}
.my-1-4{margin-top: 1.4rem;}
.my-1-6{margin-top: 1.6rem;}
.my-1-8{margin-top: 1.8rem;}
.my-3{margin-top: 3rem;}
.my-4{margin-top: 4rem;}
.my-5{margin-top: 5rem;}
.my-6{margin-top: 6rem;}
.my-7{margin-top: 7rem;}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
    .mx-n1{margin-left: 0;}
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1439px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}